h3.new-post-header {
  clear: both;
  font-size: 50px;
  text-align: center;
}

form.new-post input.title {
  width: 550px;
  height: 100px;
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}

form.new-post input.submit {
  width: 550px;
  height: 100px;
  border-radius: 30px;
  background-color: #8C001A;
  color: #8CA93E;
  font-size: 50px;
}
