<h1 class="login-welcome">Welcome To The Shadow Realm <br> Please login below</h1>

<div class="goku">
  <img src="imgs/goku.png" alt="" />
</div>

<% if @error %>
  <h3><%= @error %></h3>
<% end %>

<form class="login-form" action="/users" method="post">
  <input type="text" name="user[username]" placeholder="username">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="Login">
</form>


<p class="sign-up-link">
  If you don't have an account, you may create one <a class="link-here" href="/users/new">here</a>!
</p>
