<h3 class="new-post-header">So Nice To See You Create A New Post. Fill Out The Form Below And Create Beautiful Discussions!</h3>

<form class="new-post" action="/posts" method="post">
  <input class="title" type="text" name="title" placeholder="Title">
  <br>
  <input class="submit" type="submit" value="Create Post">
</form>
